Categories:
  - Science & Education
License: LGPL-3.0-only
SourceCode: https://github.com/isomorphisms/Cayley
IssueTracker: https://github.com/isomorphisms/Cayley/issues
Changelog: https://github.com/isomorphisms/Cayley/releases

RepoType: git
Repo: https://github.com/isomorphisms/Cayley.git

Builds:
  - versionName: 0.1.0
    versionCode: 1
    commit: android-v0.1.0
    subdir: android-app
    gradle:
      - yes

AutoUpdateMode: Version
UpdateCheckMode: Tags ^android-v[0-9]+\.[0-9]+\.[0-9]+$
CurrentVersion: 0.1.0
CurrentVersionCode: 1
